<%-include('nav')-%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>About</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur corporis aperiam quae obcaecati, eaque, suscipit optio neque exercitationem perferendis ipsum repellat voluptatem! Est quae nobis quisquam minus, eaque earum mollitia.</p>
    
</body>
</html>