<%-include('nav')-%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<h1>Home</h1>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis omnis quaerat rerum expedita possimus labore ipsam accusamus, alias quas cumque sit obcaecati dignissimos sapiente eos quisquam corrupti! Aliquam qui fugit corporis cum quaerat sed odio pariatur possimus sint aliquid quo ipsam deleniti et autem esse, reprehenderit quia veritatis labore quos incidunt cumque, porro minus accusamus culpa? Cum omnis aliquam quia eum.</p>
</body>
</html>