<%- include('nav') -%>

<body>
  <h3>
    Welcome &emsp; &emsp; &emsp; <%=uname%> &emsp; &emsp; &emsp;
    <a href="/lout">Logout</a>
  </h3>
  <h2>Add Record</h2>
  <form>
    Username:<input
      type="text"
      id="name"
      name="un"
      placeholder="Enter your name"
    /><br /><br />
    Password:<input
      type="password"
      id="name"
      name="p"
      placeholder="Enter your password"
    /><br /><br />
  </form>
</body>
